version: 2
updates:
    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: 'daily'
      labels:
          - 'dependencies'
      commit-message:
          prefix: 'build(deps)'

    - package-ecosystem: 'npm'
      directory: '/'
      schedule:
          interval: 'daily'
      labels:
          - 'dependencies'
      commit-message:
          prefix: 'build(deps)'
      ignore:
          - dependency-name: '*'
            update-types:
                - 'version-update:semver-major'
