root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = 120

# JavaScript / TypeScript / JSON
[*.{js,jsx,ts,tsx,json}]
indent_size = 2

# CSS / SCSS / Less
[*.{css,scss,less}]
indent_size = 2

# HTML
[*.{html}]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Docker files
[docker-compose.yml]
indent_size = 4

# XLF files
[*.xlf, *.xliff]
indent_size = 2

# SQL files
[*.sql]
indent_size = 2
