# VitePress files

docs/.vitepress/cache
docs/.vitepress/dist

# Vite files

docs/dev-dist

# Environment variables

*.env
!.env-*

# Dependency directories

node_modules

# ESLint files

.cache/.eslintcache
.eslint-config-inspector

# TypeScript files

.cache/tsbuildinfo.json

# macOS and iOS files

.DS_Store
.AppleDouble
.LSOverride

# Compiled files

*.com
*.class
*.dll
*.exe
*.o
*.so

# Secret files

*.der
*.key
*.pem
