# Environment files
*.env
!.env-*

# Dependencies files
node_modules

# Build output files
build
dist
dev-dist
docs/.vitepress/cache
docs/.vitepress/dist
docs/dev-dist

# Tooling caches files
.cache/
.cache/.eslintcache
.eslint-config-inspector
.cache/tsbuildinfo.json

# OS files
.DS_Store
.AppleDouble
.LSOverride

# Compiled artifacts files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Secrets files
*.der
*.key
*.pem
