# Environment
*.env
!.env-*

# Dependencies
node_modules

# Build output
build
dist
dev-dist
docs/.vitepress/cache
docs/.vitepress/dist
docs/dev-dist

# Tooling caches
.cache/
.cache/.eslintcache
.eslint-config-inspector
.cache/tsbuildinfo.json

# OS files
.DS_Store
.AppleDouble
.LSOverride

# Compiled artifacts
*.com
*.class
*.dll
*.exe
*.o
*.so

# Secrets
*.der
*.key
*.pem
