# Dependencies files
node_modules

# Build output files
build
dist
dev-dist
coverage
public
docs/.vitepress/cache
docs/.vitepress/dist
docs/dev-dist

# Environment files
*.env
!.env-*

# Git files
.gitignore
.gitkeep

# Tooling files
.prettierignore
*.tsbuildinfo

# SVG files
*.svg

# Lock files
package-lock.json
